/* Importing Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {  /* selects all elements on the page.*/
  box-sizing: border-box; /* Width includes padding and border*/
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif; /* Set font for all elements */
}


:root { /* Highest level of the document tree (HTML) '--' used for custom property */
  --primary-color: #6412EA;  /* Primary color (e.g., brand color) */
  --secondary-color: #B7BFED; /* Secondary color (e.g., accent color) */
  --text-color: #333333;      /* Main text color */
  --background-color: #FFFFFF; /* Background color */
  --link-color: #6412EA;      /* Color for links */
  --hover-color: #FD6A17;     /* Hover color for buttons/links */
  --border-color: #CCCCCC;     /* Border color */
}

/* Heading Styles */
h1{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color: var(--text-color); /* Access a custom property in variable root */
}

h2{
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  padding: 25px 0 25px 225px; /*Top, right, bottom, left */
  color: var(--text-color);
}

h3{
  padding: 25px 0 25px 250px; /*Top, right, bottom, left */
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: var(--text-color);
}

h4{
  padding: 25px 0 25px 250px; /*Top, right, bottom, left */
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  color: var(--text-color);
}

h5 {
  padding: 25px 0 25px 250px; /*Top, right, bottom, left */
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  color: var(--text-color);
}

p {
  padding: 25px 0 25px 250px; /*Top, right, bottom, left */
  font-size: 11px;
  font-weight: 200;
  text-align: left;
  color: var(--text-color);
}

.title-text h2{
  padding: 0;
}

/* Logo styles */
.logo {
  padding-left: 1%;
  display: inline-block; /* Placed in line with other elements than start on a new line, allows more control with width and height */
  vertical-align: top;
  width: 30%;
  cursor: pointer;
}

a, button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color:var(--text-color);
  text-decoration: none; /*  Remove default underline */
  padding: 0 10px;
}

.menu-toggle {
  display: none;
}


#events-section {
  display: flex;
  flex-direction: column; /* Stack events vertically */
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between event sections */
  width: 800px; /* Adjust as needed */
  margin: 0 auto;
}

.event {
  display: flex; /* Align items horizontally */
  gap: 20px; /* Space between left and right sections */
  height: 200px;
  align-items: stretch;
}

.event-left {
  flex: 1; /* Middle image on the right */
  position: relative;
  height: 25px;
}

.event-left-top img{
  flex: 1.5; /* Make top image taller to match the two images on the right */
  position: relative;
  height: 168px;
}

.event-left-bottom img{
  flex: 1; /* Bottom image takes less space */
  position: relative;
  height: 75px;
}

.event-right {
  flex: 1; /* Right section takes less space */
  display: flex;
  flex-direction: column; /* Stack images vertically */
  gap: 10px; /*Space between images */
}

.event-right-top {
  flex: 1; /* Top image on the right */
  position: relative;
  height: 75px; /* Maintain aspect ratio */
}

.event-right-middle {
  flex: 1; /* Middle image on the right */
  position: relative;
  height: 75px;
}

.event-right-bottom {
  flex: 1; /* Bottom image on the right */
  position: relative;
  height: 75px;
}

.event-right-top img{
  height: 75px;
}

.event-right-middle img{
  height: 75px;
}

.event-right-bottom img{
  height: 75px;
}

.event img {
  width: 635px; /* Responsive images */
  object-fit: cover;
}

.event-left-bottom .event-name {
  position: absolute;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  padding: 8px;
  border-radius: 4px;
}


/* Navigation styles */
#flexnavbar {
  display: flex;
  justify-content: center; /* Centers items horizontally within container. If extra space, items are distributed with space equally on either side.*/
  align-items: center; /* Based on vertical space, as long as container height is filled, items are centred accordingly. */
  grid-area: nav;
  padding-left: 5%;
}

/* select all the <a> elements inside my #flexnavbar container */
#flexnavbar > a {
  flex:1; /* each element tries to take up an equal amount of space */
}

#flexnavbar a {
  text-decoration: none; /*  Remove default underline */
  color: var(--text-color);
  text-align: center;
  margin: 0 15px; /* Adds space between navigation links */
}

#flexnavbar a:hover {
  color: var(--hover-color);
  font-weight: 600;
}

#flexnavbar a.active {
  color: var(--link-color);
  font-weight: 600;
}

.wrapper {
  width: 75vw;
  margin: 50px auto; /* Center it horizontally */
  background-color: var(--primary-color); 
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.wrapper h2 {
  text-align: center;
  color: white;
  padding: 15px;
  margin: 0;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.form-container input[type="text"], input[type="datetime-local"], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

input[type="file"] {
  margin-bottom: 20px;
}


/* Specific Styles for Form Submit Button */
.submit-button {
  width: 100%;
  max-width: 100%;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
}

.submit-button:hover {
  background-color: var(--primary-color);
}

/* Style for the main event card container */
#events-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Individual event card styles */
.event-card {
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid var(--primary-color); 
  padding: 15px;
  width: 400px; /* Adjust width to match */
  margin: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.event-card p{
  padding: 0%;
}

.event-card h3{
  padding: 0%;
}

.event-card:hover {
  transform: scale(1.05); 
}

/* Event header - title section */
.event-header {
  background-color: var(--primary-color); /* Purple background */
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Image placeholder in the card */
.event-card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border: 2px solid var(--primary-color);
  margin: 15px 0;
  padding: 0;
  width: 100%;
  height: 300px; /* Fixed height for the image container */
  box-sizing: border-box;
  overflow: hidden; /* Ensures that the image doesn't overflow the container */
}

.event-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container without distortion */
}


/* Styling for the event details container */
.event-card-body {
  font-size: 14px;
  color: #333;
  padding: 0 10px;
}

/* Flexbox layout for the event details (Date, Location) */
.event-details {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.event-details p {
  margin: 0;
  font-weight: 600;
}

/* Flexbox layout for the organiser and event type */
.event-meta {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #666;
  margin-bottom: 10px;
}

.event-description {
  font-size: 13px;
  color: #666;
  margin-top: 10px;
}

/* Footer section styling */
.event-card-footer {
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 12px;
  color: #666;
  display: flex;
  justify-content: space-between;
}

/* Slideshow Styles */
.new-slideshow-container {
  position: relative; /* Even if moved, original space is kept empty */
  max-width: 70%; /* Adjust to your desired max width */
  margin: 0 auto; /* Center the slideshow */
  overflow: hidden;
}

.new-slide-container {
  display: flex; /* Flexbox for side-by-side images */
  width: 100%; /* Ensure it fills the parent container */
}

.new-slide-container .new-slide-container{
  margin: 0;
  padding: 0;
  position: relative;
}

.new-image-container {
  position: relative; /* Won't push other elements around or be affected by them.*/
  width: 100%; /* Each image takes full width */
  aspect-ratio: 1;
  overflow: hidden;
  box-sizing: border-box;
}

.new-image-container img {
  width: 100%; 
  height: 60%; 
  padding: 1%;
  object-fit: cover;
  border-radius: 10px; 
  box-sizing: border-box;
}


.new-image-container .new-text{
  position: absolute;
  width: 50%;
  background: #333333;
  color: white;
  text-align:left;
  font-weight: 600;
  bottom: 45%;
  padding-left: 0;
}


Text overlay styles */
.new-slide-container .text {
  position: absolute; 
  bottom: 10px; 
  left: 10px;
  color: var(--background-color);
  font-size: 18px; 
  padding: 5px;
  text-align: left;
} 

/* Caption text */
.new-text {
  position: absolute; /* Won't push other elements around or be affected by them for example the image underneath this text */
  bottom: 16px;
  left: 16px;
  color: var(--background-color);
  font-weight: 2vw;
  font-size: 15px;
  padding: 8px;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.new-text h2, .new-text p{
  text-align: center;
}


.new-text h2{
  padding: 0;
  color: var(--background-color);
  font-weight: 600;
}

.new-text p{
  padding: 0;
  color: var(--background-color);
  margin-top: 5px;
  font-weight: 400;
}

/* Navigation for slideshow */
.new-prev, .new-next {
  cursor: pointer;
  position: absolute; /* Won't push other elements around or be affected by them for example the image underneath this text */
  top: 28%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--background-color);
  font-weight: bold;
  font-size: 2vw;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none; /* Prevent users from accidentally selecting text while interacting with those elements. */
  z-index: 10; /*  Arrows will appear on top of the slideshow images even as they change. */
}


/* Left 0 and Right 0 means they are positioned at the left and rightmost edges of the parent element (slideshow container)*/
.new-prev {
  left: 0;
}

.new-next {
  right: 0;
}

/* Black background color for navigation arrows */
.new-prev:hover, .new-next:hover {
  color: var(--text-color);
}


/* Slideshow Styles */
.second-slideshow-container {
  position: relative; /* Even if moved, original space is kept empty */
  max-width: 70%; /* Adjust to your desired max width */
  margin: 0 auto; /* Center the slideshow */
  overflow: hidden;
}

.second-slide-container {
  display: flex; /* Flexbox for side-by-side images */
  width: 100%; /* Ensure it fills the parent container */
}

.second-slide-container .second-slide-container{
  margin: 0;
  padding: 0;
  position: relative;
}

.second-image-container {
  position: relative; /* Won't push other elements around or be affected by them.*/
  width: 100%; /* Each image takes full width */
  aspect-ratio: 1;
  overflow: hidden;
  box-sizing: border-box;
}

.second-image-container img {
  width: 100%; 
  height: 60%; 
  padding: 1%;
  object-fit: cover;
  border-radius: 10px; 
  box-sizing: border-box;
}


.second-image-container .new-text{
  position: absolute;
  width: 50%;
  background: #333333;
  color: white;
  text-align:left;
  font-weight: 600;
  bottom: 45%;
  padding-left: 0;
}


Text overlay styles */
.second-slide-container .text {
  position: absolute; 
  bottom: 10px; 
  left: 10px;
  color: var(--background-color);
  font-size: 18px; 
  padding: 5px;
  text-align: left;
} 

/* Caption text */
.second-text {
  position: absolute; /* Won't push other elements around or be affected by them for example the image underneath this text */
  bottom: 16px;
  left: 16px;
  color: var(--background-color);
  font-weight: 2vw;
  font-size: 15px;
  padding: 8px;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.second-text h2, .second-text p{
  text-align: center;
}


.second-text h2{
  padding: 0;
  color: var(--background-color);
  font-weight: 600;
}

.second-text p{
  padding: 0;
  color: var(--background-color);
  margin-top: 5px;
  font-weight: 400;
}

/* Navigation for slideshow */
.second-prev, .second-next {
  cursor: pointer;
  position: absolute; /* Won't push other elements around or be affected by them for example the image underneath this text */
  top: 28%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--background-color);
  font-weight: bold;
  font-size: 2vw;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none; /* Prevent users from accidentally selecting text while interacting with those elements. */
  z-index: 10; /*  Arrows will appear on top of the slideshow images even as they change. */
}


/* Left 0 and Right 0 means they are positioned at the left and rightmost edges of the parent element (slideshow container)*/
.second-prev {
  left: 0;
}

.second-next {
  right: 0;
}

/* Black background color for navigation arrows */
.second-prev:hover, .second-next:hover {
  color: var(--text-color);
}

.top-content-recomspage{
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  height: 20%;
  padding-top: 8%;
  padding-left: 20%;
  margin-bottom: 5%;
}

.top-content-recomspage .nav_buttons{
  padding-left: 1%;
  padding-top: 2%;
}

.top-content-recomspage .topnav{
  width: 100%;
}

/* Style the search box */
.top-content-recomspage .topnav input[type=text] {
  width: 70%; /* Set width to 50% */
  max-width: 1200px; /* Optional: limit max width for larger screens */
  padding: 10px;
  border: 1px solid #ccc; /* Add border for better visibility */
  border-radius: 10px; /* Rounded corners */
  margin-right: 8px; /* Space between input and button */
  box-sizing: border-box;
}

.event-button{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--background-color);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: var(--primary-color);
  transition: background-color 0.3s ease;
}
  
.event-button:hover {
  background-color: var(--primary-color);
}

/* Specific Styles for Navigation Buttons in #nav_buttons */
.nav_buttons-event {
  padding: 0;
  padding-left: 15%;
  padding-bottom: 2%;
}


.nav_buttons-event .navigation-button {
  font-size: 14px;  /* Smaller font size */
  padding: 8px 15px; /* Smaller padding */
  background-color: var(--primary-color);
  color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav_buttons-event .navigation-button:hover {
  background-color: var(--hover-color);
}

/* Top left text */
.top-left {
  position: absolute;
  width: 30%;
  top: 30%;
}

.top-left h1, .top-left h3{
  color: var(--background-color);
  padding-left: 15%;
  padding-bottom: 0;
  padding-top: 0;
}

.top-left h3{
  font-weight: 400;
}

.top-left h1{
  text-align: left;
}

.nav_buttons-event {
  margin-right: 15px; /* Adjusts right alignment */
}

.nav-links {
  position: fixed;
  left: -100%; /* Hide off-screen */
  top: 0;
  height: 100%;
  width: 250px; /* Adjust based on your design */
  background-color: white; /* Set background color */
  transition: left 0.3s ease; /* Transition for slide effect */
  z-index: 1000; /* Ensure it's on top */
}


/* Defining styles for devices smaller than 800px wide 
Apply specific styles based on certain conditions*/
@media (max-width:750px) {
  #flexnavbar {
    flex-direction: column; /* Stack the links vertically */
    display: none; /* Hide the navbar initially */
    align-items: flex-start; 
    padding: 10px;
  }

  #flexnavbar a {
    font-size: 14px;
    padding: 8px 0;
    text-align: left;
    width: 100%;
  }

  .menu-list{
    padding: 0;
    padding-bottom: 5%;
    padding-right: 50%;
  }
  

  .menu-toggle {
    display: block; /* Show the menu toggle button in mobile view */
    font-size: 14px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    cursor: pointer;
  }


  cta. button {
    font-size: 10px;
  }

  /* Organizing different sections of layout for clear and structured layout. */
  #gridcontainer {  
    grid-template-areas:
    "header header header" /*spans across three columns. */
    "nav nav nav"
    "main main main"
    "foot foot foot";
  }

  #nav_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  #nav_buttons button{
    flex: 1 1 auto;
    min-width: 80px;
    margin: 5px;
    font-size: 12px;
    box-sizing: border-box;
  }

  .text{
    font-size: 3vw;
    padding: 5px;
  }

  .prev .next {
    font-size: 3vw;
    padding: 12px;
  }

  .parent-container {
    display: flex;
    justify-content: center;
  }
  
  .topnav {
    align-items: center; /* Center items */
  }
  
  .topnav input[type=text], .topnav button {
    width: 100%; /* Full width for mobile */
    margin: 8px 0; /* Space between input and button */
  }

  .topnav button{
    width: auto;
    margin: 8px 0;
  }

}

@media screen and (min-width: 600px) {
  #flexnavbar {
    justify-content: center;
    padding-right: 15%;
  }

  #flexnavbar > a {
    flex: none;
    padding: 3px 10px;
  }

}


/* Styles for mobile devices (up to 600px wide) */
@media only screen and (max-width: 600px) {
  /* Make the logo and navbar items stack vertically */
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 30%; /* Adjust logo size */
    margin-bottom: 10px;
    padding: 0;
  }

  #flexnavbar {
    flex-direction: column; /* Stack the links vertically */
    align-items: flex-start; /* Align links to the left */
    padding: 10px; /* Add some padding around the navbar */
  }

  #flexnavbar a {
    font-size: 14px; /* Reduce font size */
    padding: 8px 0; /* Adjust padding for mobile view */
    text-align: left; /* Align text to the left */
    width: 100%; /* Make links take the full width */
  }

  /* Style for buttons and inputs */
  .topnav input {
    width: 80%; /* Make search input take full width */
    margin: 10px auto;
  }

  .nav_buttons {
    flex-direction: column; /* Stack buttons vertically */
  }

  .nav_buttons .navigation-button {
    margin-bottom: 10px;
  }

  /* Adjust image sizes for mobile */
  .slideshow-container img {
    width: 100%; /* Ensure images are responsive */
  }

  /* Adjust footer text */
  footer p {
    text-align: center;
    font-size: 14px;
  }


  body {
    font-size: 16px; /* Reduce base font size */
  }

  h2 {
    font-size: 14px;
    margin: 10px 0;
    text-align: left;
    padding: 15px 0 15px 50px; 
    margin-left: -20px
  }

  .top-content {
    padding: 10px;
  }

  .nav_buttons .navigation-button {
    padding: 10px 20px;
  }
  
  /* Ensure other elements align correctly */
  body, main {
    text-align: left;
  }

  .nav_buttons {
    display: none; /* Hide navigation buttons in mobile view */
  }

  .nav_buttons-event {
    display: block; /* Show the button in mobile view */
    padding-right: 3%;
  }
  
  .upcoming-title {
    margin-right: auto; /* Push the title to the left */
    padding-bottom: 5%;
  }

  /* Styles for smaller button text */
  .nav_buttons-event a.navigation-button {
    font-size: 10px; /* Smaller font size */
    padding: 5px 10px; /* Smaller padding */
  }

  .new-slideshow-container,
  .second-slideshow-container {
    max-width: 100%; /* Full width for smaller screens */
  }

  .new-image-container,
  .second-image-container {
    height: auto; /* Allow height to adjust */
    aspect-ratio: auto; /* Remove fixed aspect ratio */
  }

  .new-text,
  .second-text {
    font-size: 14px; /* Adjust text size for mobile */
    padding: 5px; /* Reduce padding */
  }

  .new-prev, .new-next,
  .second-prev, .second-next {
    font-size: 10px; /* Responsive font size for buttons */
    padding: 1px; /* Adjust padding for buttons */
  }

  .slideshow-container {
    height: 20%; /* Make the slideshow taller on mobile */
  }

  .image-container .text {
    font-size: 10px; /* Adjust the font size of the overlay text */
    padding: 0;
  }

}