/* Global Button Styles */
button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--background-color);
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  background-color: var(--primary-color);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--primary-color);
}

header button{
  margin-top: 5%;
}

a.button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--background-color);
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  background-color: var(--primary-color);
  transition: background-color 0.3s ease;
}

a.button:hover {
  background-color: var(--primary-color);
}


.date-container {
  display: flex;
  justify-content: flex-end; /* Aligns items to the right */
  margin-top: 20px; /* Optional spacing from other elements */
  padding-right: 15%;
  border-radius: 5;
}

.datefield {
  width: 150px;
  padding: 0;
}

/* Slideshow Styles */
.slideshow-container {
  position: relative; /* Even if moved, original space is kept empty */
  max-width: 70%; /* Adjust to your desired max width */
  margin: 0 auto; /* Center the slideshow */
  overflow: hidden;
  padding-bottom: 10%;
}

.slide-container {
  display: flex; /* Flexbox for side-by-side images */
  width: 100%; /* Ensure it fills the parent container */
}

.image-container {
  position: relative; /* Won't push other elements around or be affected by them.*/
  width: 100%; /* Each image takes full width */
  aspect-ratio: 1;
  overflow: hidden;
}

.image-container img {
  width: 100%; /* Fill the container's width */
  height: 100%; /* Fixed height */
  padding: 1%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 15px; /* Apply border-radius */
}

.image-container .text {
  background-color: #333333;
  color: white;
  width: 20%;
  text-align: center;
  justify-content: center;
}

/* Text overlay styles */
/* .slide-container  .text {
position: absolute; /* Won't push other elements around or be affected by them for example the image underneath this text */
/* bottom: 10px; 
left: 10px;
color: var(--background-color);
font-size: 18px; 
padding: 5px;
text-align: left;
} 

/* Navigation for slideshow */
.prev,
.next {
  cursor: pointer;
  position: absolute; /* Won't push other elements around or be affected by them for example the image underneath this text */
  top: 38%;
  width: auto;
  margin: 0;
  margin-top: -22px;
  padding: 16px;
  /* margin-left: 15px; */
  color: var(--background-color);
  font-weight: bold;
  font-size: 2vw;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none; /* Prevent users from accidentally selecting text while interacting with those elements. */
  z-index: 10; /*  Arrows will appear on top of the slideshow images even as they change. */
}

/* Left 0 and Right 0 means they are positioned at the left and rightmost edges of the parent element (slideshow container)*/
.prev {
  left: 0;
}

.next {
  right: 0;
}

/* Black background color for navigation arrows */
.prev:hover,
.next:hover {
  color: var(--text-color);
}

/* Caption text */
.text {
  position: absolute; /* Won't push other elements around or be affected by them for example the image underneath this text */
  bottom: 16px;
  left: 16px;
  color: var(--background-color);
  font-weight: 2vw;
  font-size: 15px;
  padding: 8px;
  margin-left: 2%;
  width: 100%;
  text-align: left;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  } /* Starting point of the animation */
  to {
    opacity: 1;
  } /* End point of animation */
}

/* Discussion board */
.discussion-form {
  background: var(--background-color);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.discussion-form,
.posts {
  width: 70%;
  margin: 20px auto;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2%;
}

.discussion-form h2 {
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 2%;
}

#postForm {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  padding-left:10% ;
}

textarea {
  width: 100vh;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  box-sizing: border-box;
  margin-right: 10px;
  flex-direction: column;
  align-items: center;
}

.discussion-form button {
  padding: 10px 20px;
  margin-bottom: 2.5%;
  border: none;
  cursor: pointer;
}

.post {
  border-bottom: 1px solid #eee;
  border-radius: 8px;
  padding: 15px;
  margin: 0;
  position: relative;
}

.user-info {
  display: flex;
  align-items: center; /* Center the image and name vertically */
}

.user-info img {
  width: 50px; /* Set the width of the profile image */
  height: 50px; /* Set the height of the profile image */
  border-radius: 50%; /* Make the image circular */
  margin-right: 20px; /* Add space between the image and name */
  object-fit: cover; /* Ensure the image covers the area without distortion */
}

.post-actions {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: start;
  margin-left: 6%; /* icons margin */
}

.post-actions button {
  width: 30px; /* Set a fixed width */
  margin: 0; /* Remove default margins */
  padding: 0; /* No padding */
  background: transparent;
  border: none;
  cursor: pointer;
}

.post-actions button:hover {
  transform: scale(1.1); /* Enlarge the button to 110% */
}

.post:last-child {
  border-bottom: none;
}

.post-content {
  font-size: 16px; /* Adjust text size */
  color: black; /* Set text color */
  margin-top: 10px; /* Add space above the text */
  margin-left: 70px; /*The text of the post */
  margin-bottom: 2%;
  width: 100%;
}

.like-button {
  background: transparent;
  border: none;
  color: #6412ea;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.heart {
  font-size: 22px; /* Adjust size as needed */
  color: #ccc; /* Default color */
  transition: color 0.3s;
  margin-bottom: 4px;
}

.liked .heart {
  color: red; /* Color when liked */
}

.post-actions .like-button {
  margin-left: 5px;
}

.post-actions button:last-child {
  margin-left: 2px;
}

.posts h2 {
  font-weight: 600;
  margin: 0;
  padding: 0;
}

#postFeed {
  background-color: white;
  padding: 30;
  border-radius: 8px;
  box-shadow: 0 2px 10px #0000001a;
  width: 1040px;
  margin: 0 auto;
}


/* Style the top navigation */
.top-content {
  margin-top: 2%;
  align-items: center;
  justify-content: center;
}

.top-content .topnav {
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  padding: 8px; /* Padding around the nav */
  width: 100%; /* Ensure it spans the full width */
}

.top-content-recomspage .topnav button {
  border: 1px solid white;
}

/* Style the search box */
.topnav input[type="text"] {
  width: 100%; /* Set width to 50% */
  max-width: 900px; /* Optional: limit max width for larger screens */
  padding: 10px;
  border: 1px solid #ccc; /* Add border for better visibility */
  border-radius: 4px; /* Rounded corners */
  margin-right: 8px; /* Space between input and button */
  box-sizing: border-box;
}

/* Style the search button */
.topnav button {
  padding: 6px 10px;
  border: none;
  background-color: var(--primary-color); /* Your desired color */
  color: white;
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  width: 80px;
}

.topnav button:hover {
  background-color: var(--hover-color);
}

.read-more {
  padding: 0;
  padding-top: 40%;
}

@media only screen and (max-width: 600px) {
  /* Navigation for slideshow */
  .prev,
  .next {
    top: 48%;
    padding: 0 10px;
    color: var(--background-color);
  }
}

/* ham menu */
.ham-menu {
  display: none; /* Ensure it displays in flexbox mode */
  flex-direction: column; /* Align the bars in a column */
  bottom: 38px;
  width: 40px;
  margin-left: auto;
  position: relative;
  z-index: 2000; /* Ensure this is higher than the off-screen menu's z-index */
}

/* Style each bar */
.ham-menu span {
  height: 4px;
  width: 70%;
  background-color: var(--text-color); /* Default bar color */
  border-radius: 25px;
  margin: 2px 0; /* Space between bars */
  transition: .3s ease;
}

/* Active state styles */
.ham-menu.active span {
  background-color: var(--primary-color); /* Change color when active */
}

.ham-menu.active span:nth-child(1) {
  top: 50%; /* Adjust the first bar */
  transform: translate(-10%, 300%) rotate(45deg); /* Rotate to form X */
}

.ham-menu.active span:nth-child(2) {
  opacity: 0; /* Hide the middle bar */
  height: 0;
  margin: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%; /* Adjust the third bar */
  transform: translate(-10%, 120%) rotate(-45deg); /* Rotate to form X */
}


/* off-screen-menu */
.off-screen-menu {
  background-color:  rgba(244, 242, 247, 0.915);
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px; /* Hidden off-screen */
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: left;
  font-size: 3rem;
  transition: .3s ease;
  z-index: 1000; /* Ensure this is lower than the hamburger menu */
}

.off-screen-menu.active {
  right: 0; /* Slide in from the right */
  flex-direction: column;
  list-style-type: none; /* Remove bullet points */
  width: 60%; /* Make the list take the full width of the menu */
}

.off-screen-menu ul{
  margin-top: 30%;
}

.off-screen-menu li {
  width: 100%; /* Ensure each item takes full width */
}

.off-screen-menu a {
  display: block; /* Make each link a block element */
  padding: 15px; /* Add padding for better touch targets */
  color: #000; /* Change text color */
  text-decoration: none; /* Remove underline from links */
  margin-left: 15%;
}

/* Hover effect for links */
.off-screen-menu a:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Change background on hover */
}

/* nav */
nav {
  padding: 1rem;
  display: flex;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  padding: 0;
  padding-left: 10%;
}

.item {
  width: 23%;
  margin: 1%;
  transition: transform 0.3s;
}

.item img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}

.info {
  margin-top: 8px;
  padding: 0;
}

.info h3{
  padding: 0;
}

.info p{
  padding: 0;
  margin-top: 2%;
  margin-bottom: 2%;
}

.see-more {
  padding: 0;
  padding: 15px 10px;
  margin-left: 25%;
  cursor: pointer;
}

.see-more p{
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 0;
}

.arrow{
  padding: 0;
  padding-left: 87%;
  transition: transform 0.3s ease; /* Smooth rotation */
  display: inline-block; /* Ensure it rotates correctly */
}

/* Hide additional items initially */
.hidden {
  display: none;
}

.activities h2{
  padding: 0;
  padding-left: 11%;
}

.food-drink{
  padding-top: 5%;
}

.food-drink h2{
  padding: 0;
  padding-left: 11%;
}

.food-drink .see-more {
  margin: 0;
  margin-left: 25%;
}

.food-drink .arrow{
  padding: 0;
  padding-left: 86%;
}

.title-button{
  display: flex;
}

.accommodations h1{
  padding-top: 5%;
}

.accommodations h2{
  padding: 0;
  padding-left: 11%;
}

.accommodations p{
  margin: 0;
  padding: 0;
}

.accommodations .see-more{
  margin: 0;
  padding: 0;
  padding-top: 5%;
  margin-left: 47%;
}

.accommodations .arrow {
  margin: 0;
  padding: 0;
  margin-left: 37%;
}

.visa{
  padding-top: 5%;
}

.visa h2{
  padding: 0;
  padding-left: 11%;
}

.visa .see-more {
  margin-left: 26%;
}

.visa .arrow{
  padding: 0;
  margin-left: 87%;
}

.user-profile-sample{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 2500; /* Sit on top */
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  margin-top: 10%;
  border: 1px solid #888;
  width: 50%;
  height: 50%;
  border-radius: 10px;
}

.modal-content h2{
  padding:0 10%;
  padding-top: 8%;
  padding-bottom: 5%;
}

.modal-content p{
  font-size: 15px;
  padding: 2% 10%;
}

.modal-content span{
  padding: 0;
  padding: 2% 10%;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.insights-modal .modal-content{
  height: 40%;
}

.insights-modal h2{
  padding: 0;
  padding-left: 10%;
  padding-top: 7%;
}

.modal-body h3{
  display: none;
}

.notifications-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 30%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none; /* Hidden by default */
}

.popup-content {
  padding: 20px;
  margin: 5%;
}

.close-popup {
  cursor: pointer;
  float: right;
  font-size: 18px;
}

#notificationsList {
  list-style: none;
  padding: 0;
  display:flex;
}

#notificationsList p{
  padding: 0;
  margin: 0;
  width: 300px;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5%;
  margin-left: 8%;
}

/* Media query for mobile */
@media (max-width: 768px) {

  body{
    font-size: 12px;
  }

  #flexnavbar {
      display: none; /* Hide regular navbar on mobile */
  }

  .cta {
    display: none;
  }

  .hamburger {
    display: flex; /* Show hamburger menu on mobile */
  }

  .ham-menu {
    display: flex; /* Ensure the hamburger menu shows */
  }

  .top-content {
    padding: 0;
    padding-bottom: 5%;
    padding-top: 15%;
  }

  .top-content .top-nav {
    padding: 0;
    width: 100%;
  }
  
  .topnav input[type="text"]{
    width: 80%;
  }

  .slideshow-container {
    max-width: 100%; /* Adjust to your desired max width */
    display: flex;
    margin: 0 10px;
  }

  .image-container {
    width: 100%; /* Ensures each image container spans the entire width */
    margin-bottom: 10px; /* Adds spacing between image containers */
  }
  
  .image-container img {
    border-radius: 0; /* Apply border-radius */
    box-sizing: border-box; /* Includes padding and border in the total width calculation */
    width: 100%; /* Ensures each image container spans the entire width */
    flex: 1 1 100%; /* Change to 1 image per slide */
  }
  
  .image-container .text {
    background-color: var(--text-color);
    color: white;
    width:fit-content;
    padding: 2%;
    border-radius: 5%;
    text-align: center;
    justify-content: center;
  }  
  
  .item {
    flex: 1 1 calc(50% - 20px); /* 2 items per row on tablet/small screens */
    width: 10%;
    margin-top: 5%;
  }
  
  .item img {
    width: 100%;
    height: 120px;
    border-radius: 8px;
  }

  .info {
    margin-top: 8px;
    padding: 0;
  }
  
  .info h3{
    padding: 0;
    font-size: 14px;
  }
  
  .info p{
    font-size: 10px;
    padding: 0;
    margin-top: 2%;
    margin-bottom: 5%;
  }

  .see-more {
    padding: 0;
    padding-top: 10%;
    padding-left: 15%;
    cursor: pointer;
  }
  
  .see-more p{
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    padding: 0;
  }
  
  .arrow{
    padding: 0;
    padding-left: 40%;
    transition: transform 0.3s ease; /* Smooth rotation */
    display: inline-block; /* Ensure it rotates correctly */
  }

  .activities h1{
    font-size: 20px;
  }

  .activities h2{
    padding: 0;
    padding-left: 11%;
  }

  
  .food-drink h2{
    padding: 0;
    padding-left: 11%;
  }
  
  .food-drink .see-more {
    margin: 0;
    margin-left: 25%;
  }
  
  .food-drink .arrow{
    padding: 0;
    padding-left: 45%;
    margin-bottom: 50%;
  }
  
  .title-button{
    display: flex;
  }
  
  .accommodations h1{
    padding-top: 5%;
    font-size: 20px;
  }
  
  .accommodations h2{
    padding: 0;
    padding-left: 11%;
  }
  
  .accommodations .see-more{
    margin: 0;
    padding: 0;
    padding-top: 5%;
    margin-left: 41%;
  }
  
  .accommodations .arrow {
    margin: 0;
    padding: 0;
    margin-left: 40%;
  }
  
  .visa h2{
    padding: 0;
    padding-left: 11%;
  }
  
  .visa .see-more {
    margin-left: 26%;
    margin-bottom: 10%;
  }
  
  .visa .arrow{
    padding: 0;
    margin-left: 45%;
  }

  .insights-modal .modal-content{
    height: 30%;
  }

  .insights-modal h2{
    padding: 0;
    padding-left: 10%;
  }

  .insights-modal p{
    padding: 0;
    padding-left: 10%;
    padding-right: 12%;
    padding-bottom: 5%;
  }

  .modal-content{
    padding: 0;
    padding-top: 5%;
    width: 70%;
    height: auto;
    margin: 0;
    margin-left: 15%;
    margin-top: 50%;
    padding-bottom: 10%;
  }

  nav {
    padding: 0;
    margin: 0;
  }

  .top-content-recomspage{
    height: 60px;
    background-color: var(--background-color);
    padding:0;
    padding-left: 10%;
    margin-top: 20%;
  }

  .discussion-form{
    padding: 0;
    margin-top: 20%;
  }
  
  .discussion-form,
  .posts {
    width: 90%;
  }
  
  .discussion-form h2 {
    font-size: 15px;
    margin-top: 5%;
  }

  .user-info{
    font-size: 14px;
    font-weight: 600;
  }

  #postForm {
    display:block;
    align-items: center;
    width:75%;
    padding: 0;
  }
  
  textarea {
    width: 270px;
    padding: 5%;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  
  .discussion-form button {
    padding: 5px 20px;
    font-size: 12px;
    margin-top: 5%;
    margin-left: 35%;
    margin-bottom: 5%;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .post-actions {
    padding-left: 14%;
    padding-top: 2%;
    width: 30%;
    gap: 20%;
  }
  
  .post-content {
    font-size: 14px; /* Adjust text size */
    color: black; /* Set text color */
    margin-top: 10px; /* Add space above the text */
    margin-left: 70px; /*The text of the post */
    margin-bottom: 2%;
    width: 90%;
  }
  
  .like-button {
    background: transparent;
    border: none;
    color: #6412ea;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .post-actions .like-button {
    margin-right: 5px;
  }
  
  .posts h2 {
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  
  #postFeed {
    width: 90%;
  }
}


/* Style the top navigation */
.read-more-footer {
  align-items: center;
  justify-content: center;
}

.read-more-footer .rm-footer {
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  padding: 8px; /* Padding around the nav */
  width: 100%; /* Ensure it spans the full width */
}

/* Style the search box */
.rm-footer input[type="text"] {
  width: 50%; /* Set width to 50% */
  max-width: 600px; /* Optional: limit max width for larger screens */
  padding: 6px;
  border: 1px solid #ccc; /* Add border for better visibility */
  border-radius: 4px; /* Rounded corners */
  margin-right: 8px; /* Space between input and button */
  box-sizing: border-box;
}

/* Style the search button */
.rm-footer button {
  padding: 5px 10px;
  border: none;
  background-color: var(--primary-color); /* Your desired color */
  color: white;
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  width: 8%;
}

.rm-footer button:hover {
  background-color: var(--hover-color);
}

.signup-message{
  font-size: 15px;
  text-align: center;
  align-items: center;
  /* padding-right: 20%; */
  color: var(--primary-color);
}
