#flexnavbar {
    display: flex; /*turn this element into a flex container */
    flex-flow: row wrap; /* content flows left to right andwraps if needed */ 
    justify-content: space-around;  /* extra spaceis added around each element */
  }

  /* select all the <a> elements inside my #flexnavbar container */
#flexnavbar > a {
  flex:1; /* each element tries to take up an equal amount of space */
}

@media screen and (min-width: 600px) {
  #flexnavbar {
    justify-content: center; /*justify all items to the end */
  }

  #flexnavbar > a {
    flex: none; /* elements will not shrink or grow */
    padding:3px 10px 3px 10px; /*add some padding to space things out */
  }

}


#navigation-bar {
  display: grid; /* turn this element into a grid container */
  height: 100vh; /* make the grid container take up 100% ofthe window height */

  /* define the grid structure, and content of cells */
  grid-template-areas:
  "header header header"
  "nav nav nav"
  "main main main"
  "foot foot foot";

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;
}

header {
  grid-area: header; /* attach this element tothe grid area named header */
}

#flexnavbar{
  grid-area: nav; 
}

main{
  grid-area: main;
}

footer{
  grid-area: foot;
}