#navigation-bar {
  display: grid; /* turn this element into a grid container */
  height: 100vh; /* make the grid container take up 100% ofthe window height */

  /* define the grid structure, and content of cells */
  grid-template-areas:
  "header header header"
  "nav nav nav"
  "main main main"
  "foot foot foot";

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;
}

header {
  display: flex; /* It makes the container a flexbox and be able to align more flexibily*/
  justify-content: space-between; /* Items are distributed with space between them, with no space at the start or end. */
  align-items: center; /* Based on vertical space, as long as container height is filled, items are centred accordingly. */
  padding: 5px;
  grid-area: header;
}

/* Grid container layout */
#gridcontainer {
  display: grid; /* Turns element into grid container so its children (grid items) can be arranged into rows and columns.*/
  height: 100vh; /* 100 % of the viewport height */
    grid-template-areas: /* Define a visual layout of grid items using named areas */
    "header header header"
    "nav nav nav"
    "main main main"
    "foot foot foot";
  grid-template-columns: 1fr 1fr 1fr; /* set the column widths, 1 fr, equal share of the available space in the grid container.*/
  grid-template-rows: auto auto 1fr auto; /*set the row height, auto - automatically adjust based on the content within them, 1fr will take up remaining space*/
}

/* Main and footer areas */
main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  grid-area: main;
}

footer {
  grid-area: foot;
}


/* Specific Styles for Navigation Buttons in #nav_buttons */
.nav_buttons {
  padding: 0;
  padding-left: 15%;
  padding-bottom: 2%;
}


.nav_buttons .navigation-button {
  font-size: 14px;  /* Smaller font size */
  padding: 8px 15px; /* Smaller padding */
  background-color: var(--primary-color);
  color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav_buttons .navigation-button:hover {
  background-color: var(--hover-color);
}

.container {
  position: relative;
  text-align: center;
  color: white;
  height: 600px;
  padding-bottom: 5%;
}

.container img{
  height: 100%;
  object-fit: cover;
}

.title-container4 {
  display: flex;               /* Use flexbox layout */
  align-items: center;        /* Center items vertically */
  justify-content: center;     /* Center items horizontally */
  gap: 20px;     
  background-color: var(--primary-color); 
  padding: 0;
}

.title-container4 img {
  max-width: 100%;            /* Ensure the image is responsive */
  height: 200px;               /* Maintain aspect ratio */
  width: 200px; 
  padding: 0;
}

.container-headings {
  text-align: left;      /* Align text to the left */
}

.title-container4 h1 {
  color: var(--background-color);
  padding: 0;
  text-align: left;
}

.title-container4 h3 {
  color: var(--background-color);
  padding: 0;
  text-align: left;
}

.emergency-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}

.emergency-container div {
  padding: 20px;
  padding-top: 10%;
  padding-bottom: 10%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rescue { background-color: #e63946; }
.hospital { background-color: #9ae3c9; color: black; }
.parents { background-color: #f4a261; }
.police { background-color: #457b9d; }
.firefighter { background-color: #f77f00; }
.friends { background-color: #7b2cbf; }


.filter-section {
  padding: 20px;
  text-align: center;
}


.article-list {
  display: flex;
  flex-direction: column;
  gap: 25px; /* Space between articles */
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5%;
}

/* Styling for each article */
.article {
  display: flex;
  justify-content: space-between; /* Space between image and text */
  border-bottom: 1px solid #e0e0e0; /* Separator line */
  padding-bottom: 20px; /* Space below each article */
  margin-bottom: 20px; /* Space below each article */
}

.article-details {
  display: flex;
  justify-content: space-between; /* Space between image and text */
  width: 100%; /* Use full width */
}

.article-info {
  max-width: 70%; /* Limit width of text content */
}

.article-info h3 {
  font-size: 20px; /* Font size for the title */
  margin: 5px 0; /* Margin around the title */
  padding: 0; /* No padding */
}

.article-info p {
  color: #555; /* Text color for description */
  margin: 5px 0; /* Margin around the description */
  padding: 0; /* No padding */
}

.article-meta {
  margin-top: 10px; /* Space above meta information */
  font-size: 0.9em; /* Smaller font size for meta */
  color: #777; /* Color for meta information */
}

.article-image img {
  width: 400px; /* Set a fixed width for images */
  height: 250px; /* Fixed height for images */
  object-fit: cover; /* Cover to maintain aspect ratio */
  border-radius: 5px; /* Rounded corners for images */
}

/* Author and additional info styling */
.author {
  font-size: 0.9em; /* Smaller font size for author */
  color: #555; /* Color for author name */
}

.read-button {
  display: inline-block; /* Make it a block element for better spacing */
  padding: 10px 15px; /* Padding for button */
  background-color: var(--primary-color); /* Button background color */
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
  border-radius: 5px; /* Rounded corners */
  margin-top: 10px; /* Space above the button */
  transition: background-color 0.3s; /* Transition for hover effect */
}

.read-button:hover {
  background-color: var(--hover-color); /* Darker shade on hover */
}


/* Styling for each article */
.guide-top {
  display: flex; /* Create a flex container */
  align-items: center; /* Center items vertically */
  padding-left: 5%;
  background-color: var(--primary-color);
}

.guide-info {
  flex: 1; /* Allow the text to take up available space */
  margin-right: 20px; /* Add some space between text and image */
  color: var(--background-color);
}

.guide-image img {
  max-width: 100%; /* Ensure the image is responsive */
  height: 600px; /* Maintain aspect ratio */
  border-radius: 5px; /* Optional: add rounded corners */
}

.guide-details {
  display: flex;
  justify-content: space-between; /* Space between image and text */
  width: 100%; /* Use full width */
}

.guide-info h3 {
  font-size: 40px; /* Font size for the title */
  font-weight: 600;
  margin: 5px 0; /* Margin around the title */
  padding: 0; /* No padding */
  color: var(--background-color);
}

.guide-info p {
  margin: 5px 0; /* Margin around the description */
  font-weight: 400;
  font-style: italic;
  padding: 0; /* No padding */
  color: var(--background-color);
}

.guide-meta {
  margin-top: 10px; /* Space above meta information */
  font-size: 12px; /* Smaller font size for meta */
  padding-left: 15%;
}

.guide .author{
  font-style: normal;
  font-weight: 12px;
}

.guide .description{
  font-size: 20px;
  font-weight: 400;
}